@import "@/app/styles/mixins";

.gameContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  margin-bottom: 15px;
}

.leftContainer {
  width: varSize(475);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // position: absolute;
}

.leftTopContainer {
  width: varSize(475);
  justify-content: flex-start;
  align-items: left;
}

.leftBottomContainer {
  width: varSize(475);
  justify-content: flex-end;
  align-items: left;
}

.middleContainer {
  width: varSize(760);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rightContainer {
  width: varSize(475);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header {
  text-align: center;
  opacity: 0.2;

  h1 {
    font-size: varSize(82);
  }

  h2 {
    font-weight: normal;
    font-size: varSize(36);
  }
}

.gameSettings {
  text-align: center;
  opacity: 0.2;
  border: 2px solid grey;
  padding: 10px 110px;

  h1 {
    font-size: varSize(82);
  }

  h2 {
    font-weight: normal;
    font-size: varSize(36);
  }
}

.settingsInfos {
  text-align: center;
  opacity: 0.2;
  margin-top: 10px;
  // border: 2px solid grey;
  // padding: 20px;
  text-transform: none;
  // &::first-letter {
  //   text-transform: uppercase;
  // }

  h1 {
    font-size: varSize(82);
  }

  h2 {
    font-weight: normal;
    font-size: varSize(36);
  }
}

.debugMessagesTitle{
  text-align: center;
  opacity: 0.2;
  margin-top: 10px;
  border: 2px solid grey;
  padding: 10px 142px;

  h2 {
    font-weight: normal;
    font-size: varSize(36);
  }
}

.debugMessages {
  text-align: left;
  opacity: 0.2;
  margin-top: 10px;
  text-transform: none;
}

.wordBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
