@import "@/app/styles/mixins";

.gameContainer {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: space-between;
}

.leftContainer {
  width: varSize(250);
  display: flex;position: absolute;
}

.leftBottomContainer {
  width: varSize(475);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
}

.middleContainer {
  width: varSize(760);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rightContainer {
  width: varSize(475);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header {
  text-align: center;
  opacity: 0.2;

  h1 {
    font-size: varSize(82);
  }

  h2 {
    font-weight: normal;
    font-size: varSize(36);
  }
}

.wordBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
