@import "@/app/styles/mixins";

.scoreboardTitle {
  margin-bottom: varSize(20);
  font-size: varSize(40);
  text-transform: uppercase;
}

.scoreboardType {
  font-size: varSize(15);
  opacity: 0.75;
}

.scoreboardItem {
  display: flex;
  justify-content: space-between;
  width: varSize(250);
  margin-bottom: varSize(5);
  font-size: varSize(20);
  font-family: monospace;
}
